.header {
  position: fixed;
  height: 90px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  transition: .3s ease-in;
  overflow: hidden;
  background-color: white;
}

.header navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  height: 100%;
  padding: 0 1rem;
}

.header navmenu {
  display: flex;
}

.header navmenu a {
  color: black;
}

.header navitem {
  padding: 1rem;
  font-weight: 500;
}

.header navitem a:hover {
    padding-bottom: 12px;
    border-bottom: 3px solid var(--secondary-color);
}

.hamburguer {
  display: none;
  color: red;
}

@media screen and (max-width: 940px) {
  .header {
    max-width: 100%;
    background-color: green;
  }

  .header navbar {
    max-width: 100%;
  }

  .hamburguer {
    display: block;
  }

  .navmenu {
    position: fixed;
    left: -100%;
    top: 90px;
    flex-direction: column;
    background-color: blue;
    width: 100%;
    height: 90vh;
    z-index: 999;
    text-align: center;
    transition: .3s;
  }

  .navmenu:active {
    left: 0;
  }

  .navitem {
    margin: 1.5rem 0;
  }
}
