.header {
  position: fixed;
  height: 4rem;
  width: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  background-color: black;
}

.header navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header nav-menu {
  display: flex;
}

.header nav-menu a {
  color: #ffffff;
}

.header nav-item {
  padding: 1rem;
  font-weight: 500;
}

.header nav-item a:hover {
}

.hamburguer {
  display: none;
}

@media screen and (max-width: 940px) {
  .header {
    max-width: 100%;
    background-color: black;
  }

  .header navbar {
    max-width: 100%;
  }

  .hamburguer {
    display: block;
  }

  .nav-menu {
    position: fixed;
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 1.5rem 0;
  }
}
